<dialog #dialog class="start-dialog">
  <form method="dialog">
    <button class="close-start-dialog" type="button" [attr.aria-label]="copy.close" (click)="close()">
      &times;
    </button>
    <h2>{{ copy.startTitle }}</h2>
    <p>{{ copy.startDescription }}</p>
    <div class="start-options">
      <button type="button" (click)="startExample.emit()">
        <strong>{{ copy.useExample }}</strong>
        <span>{{ copy.useExampleDescription }}</span>
      </button>
      <button type="button" (click)="startBlank.emit()">
        <strong>{{ copy.startBlank }}</strong>
        <span>{{ copy.startBlankDescription }}</span>
      </button>
    </div>
  </form>
</dialog>
