<section class="highlights">
  <h2><i class="section-icon" data-lucide="star" aria-hidden="true"></i> {{ copy.sections.highlights }}</h2>
  <div class="highlights-grid">
    <article class="highlight-item" *ngFor="let item of highlights; let index = index">
      <app-item-actions
        *ngIf="isEditing"
        [compact]="true"
        [moveUpLabel]="copy.editing.moveHighlightUp"
        [moveDownLabel]="copy.editing.moveHighlightDown"
        [removeLabel]="copy.editing.removeHighlight"
        [moveUpHint]="copy.editing.moveHighlightUp"
        [moveDownHint]="copy.editing.moveHighlightDown"
        [removeHint]="copy.editing.removeHighlight"
        [disableMoveUp]="index === 0"
        [disableMoveDown]="index === highlights.length - 1"
        (moveUp)="moveHighlight(index, -1)"
        (moveDown)="moveHighlight(index, 1)"
        (remove)="removeHighlight(index)"
      />
      <i class="highlight-icon" [attr.data-lucide]="item.icon" aria-hidden="true"></i>
      <div>
        <h3
          [attr.contenteditable]="isEditing ? 'true' : null"
          [attr.spellcheck]="isEditing"
          (input)="updateText($event, item, 'title')"
        >
          {{ item.title }}
        </h3>
        <p
          [attr.contenteditable]="isEditing ? 'true' : null"
          [attr.spellcheck]="isEditing"
          (input)="updateText($event, item, 'description')"
        >
          {{ item.description }}
        </p>
      </div>
    </article>
  </div>
  <button *ngIf="isEditing" class="add-section" type="button" (click)="addHighlight()">
    <i data-lucide="plus" aria-hidden="true"></i>
    {{ copy.editing.addHighlight }}
  </button>
</section>
