<dialog #dialog class="experience-dialog">
  <form class="experience-dialog-form" (ngSubmit)="addExperience()">
    <button class="close-experience-dialog" type="button" [attr.aria-label]="copy.close" (click)="close()">
      &times;
    </button>
    <h2>{{ copy.experienceTitle }}</h2>
    <div class="experience-dialog-grid">
      <label>
        {{ copy.experienceName }}
        <input
          name="company"
          type="text"
          [placeholder]="copy.experienceNamePlaceholder"
          required
          [(ngModel)]="experienceForm.company"
        />
      </label>
      <label>
        {{ copy.icon }}
        <select name="icon" [(ngModel)]="experienceForm.icon">
          <option *ngFor="let option of experienceIconOptions" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
      </label>
      <label>
        {{ copy.role }}
        <input
          name="role"
          type="text"
          [placeholder]="copy.rolePlaceholder"
          required
          [(ngModel)]="experienceForm.role"
        />
      </label>
      <label>
        {{ copy.location }}
        <input
          name="location"
          type="text"
          [placeholder]="copy.locationPlaceholder"
          required
          [(ngModel)]="experienceForm.location"
        />
      </label>
      <label>
        {{ copy.start }}
        <input name="startDate" type="month" required [(ngModel)]="experienceForm.startDate" />
      </label>
      <label>
        {{ copy.end }}
        <input
          name="endDate"
          type="month"
          [required]="!experienceForm.current"
          [disabled]="experienceForm.current"
          [(ngModel)]="experienceForm.endDate"
        />
      </label>
    </div>
    <label class="current-experience">
      <input name="current" type="checkbox" [(ngModel)]="experienceForm.current" />
      {{ copy.current }}
    </label>
    <div class="experience-dialog-actions">
      <button type="button" class="secondary-action" (click)="close()">{{ copy.cancel }}</button>
      <button type="submit" class="primary-action">{{ copy.add }}</button>
    </div>
  </form>
</dialog>
